@use "./Components/MAINCSSFORWHOLECOMPONENTS/_AppBackgroundColor.module.scss" as *;
@use "./Components/MAINCSSFORWHOLECOMPONENTS/_BookNowIcon.module.scss" as *;

body,
html {
  font-family: "Vazir", sans-serif;
}

.mainBookNowWrapper {
}

.mainBookNowIconDisabledWhileDragging,
.mainBookNowIconDisabledWhileDraggingMobile {
  pointer-events: none;
  opacity: 0.5;
  @keyframes pulse {
    10% {
      -moz-box-shadow: 0 0 0 0 white;
      box-shadow: 0 0 0 0 white;
    }
    38% {
      -moz-box-shadow: 0 0 0 0 white;
      box-shadow: 0 0 3px 4.5px white;
    }
    100% {
      -moz-box-shadow: 0 0 0 0 white;
      box-shadow: 0 0 0 0 tranparent;
    }
  }

  // padding-left: 0px;
  // &:before {
  //   background-color: white;
  // }

  // padding: 0px;
  width: 104px;
  height: 104px;
  position: fixed;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  background-size: 100%;
  transition: 0ms;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  background-color: rgba(149, 149, 149, 0.8);
  filter: opacity(1);
  -webkit-filter: opacity(1);
  border-radius: 50%;
}
.mainBookNowIconEnabledWhileDragging,
.mainBookNowIconEnabledWhileDraggingMobile {
  @keyframes pulse {
    10% {
      -moz-box-shadow: 0 0 0 0 white;
      box-shadow: 0 0 0 0 white;
    }
    38% {
      -moz-box-shadow: 0 0 0 0 white;
      box-shadow: 0 0 3px 4.5px white;
    }
    100% {
      -moz-box-shadow: 0 0 0 0 white;
      box-shadow: 0 0 0 0 tranparent;
    }
  }

  // padding-left: 0px;
  // &:before {
  //   background-color: white;
  // }

  // padding: 0px;
  width: 104px;
  height: 104px;
  position: fixed;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  transition: 0ms;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  background-color: rgba(149, 149, 149, 0.8);
  filter: opacity(1);
  -webkit-filter: opacity(1);
  border-radius: 50%;

  // backdropFilter: "blur(6px)",
  // "&::-webkit-backdrop-filter": "blur(6px)",
  // opacity: "0.8",
}
.mainBookNowIconDisabledWhileDraggingMobile {
  width: 87px;
  height: 87px;
}
.mainBookNowIconEnabledWhileDraggingMobile {
  width: 87px;
  height: 87px;
}
.letterB,
.letterBMobile {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15%;
  left: 32%;

  background: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.24276 0.99707H8.97013C8.99302 1.00269 9.01558 1.01083 9.03888 1.01354C10.5292 1.19074 11.7601 1.85636 12.7021 2.99412C13.6069 4.08677 14.0264 5.35695 13.9307 6.77661C13.9254 6.85381 13.9419 6.90738 14.0008 6.96109C14.154 7.10079 14.3064 7.24227 14.4481 7.39302C15.0987 8.08509 15.5877 8.87275 15.8924 9.77013C16.0648 10.2779 16.1628 10.8004 16.2364 11.3287V12.5079C16.215 12.6699 16.1977 12.8324 16.1717 12.9936C16.0408 13.8058 15.7642 14.5679 15.3585 15.2857C14.8192 16.2394 14.0812 17.0149 13.17 17.6293C12.2856 18.2255 11.3063 18.5869 10.2477 18.7441C9.80526 18.8099 9.36151 18.8559 8.91629 18.7898C7.81741 18.6269 7.08547 17.9744 6.58621 17.0422C6.26954 16.4509 6.19207 15.7961 6.17294 15.1378C6.15542 14.5346 6.15515 13.9309 6.1528 13.3275C6.14269 10.3377 6.14649 7.34797 6.16421 4.35822C6.16549 4.17639 6.16139 3.99125 6.1287 3.81319C5.89387 2.53388 4.78103 1.6519 3.44013 1.75813C2.77398 1.81065 2.22115 2.09508 1.76297 2.56133C1.27411 3.0596 1.08809 3.6721 1.08863 4.35505C1.09122 7.89693 1.09167 11.4388 1.08997 14.9806C1.08997 15.3502 1.0944 15.7204 1.14428 16.0868C1.25485 16.8984 1.59064 17.6082 2.15979 18.208C2.36313 18.4224 2.58319 18.616 2.86823 18.73C2.83755 18.7468 2.81453 18.7521 2.79231 18.7498C2.74992 18.7459 2.70789 18.7388 2.66657 18.7287C2.14025 18.5912 1.71168 18.2931 1.34326 17.9126C0.64972 17.1963 0.318289 16.3449 0.32131 15.3458C0.332856 11.5935 0.325606 7.84095 0.326546 4.08855C0.326546 3.97194 0.327419 3.85327 0.347961 3.73904C0.545262 2.64057 1.15549 1.84439 2.16261 1.33739C2.50478 1.16508 2.86924 1.06897 3.24276 0.99707ZM5.80251 1.76283C5.90179 1.85841 6.0131 1.92892 6.07204 2.02926C6.25142 2.33459 6.51424 2.38294 6.84903 2.37606C7.55969 2.36151 8.27337 2.32863 8.98195 2.42071C9.99564 2.5524 10.8415 3.01429 11.5061 3.76537C12.2931 4.65555 12.6282 5.70738 12.484 6.88622C12.3302 8.14224 11.6732 9.08223 10.5707 9.71814C9.89978 10.1052 9.16529 10.2706 8.39058 10.2706C7.95375 10.2706 7.51692 10.2728 7.08016 10.2695C6.97154 10.2687 6.92193 10.3051 6.92811 10.4162C6.93382 10.5188 6.93617 10.6225 6.92751 10.7247C6.91616 10.8591 6.96819 10.9066 7.10601 10.9049C7.5807 10.899 8.05566 10.8961 8.53028 10.9042C9.35023 10.9181 10.1126 10.6961 10.8185 10.3136C12.4162 9.44788 13.3811 7.76403 13.1184 5.84516C12.87 4.02796 11.839 2.77703 10.1302 2.06564C9.59936 1.84465 9.04196 1.74603 8.46503 1.74649C7.59634 1.74722 6.72759 1.74239 5.8589 1.74041C5.85051 1.74054 5.84191 1.74702 5.80251 1.76283ZM7.77948 17.3995C8.05472 17.6839 8.36903 17.8734 8.73947 17.9718C9.16992 18.0859 9.60473 18.0611 10.0391 18.0037C11.09 17.8648 12.0432 17.4834 12.9039 16.8752C13.8215 16.2269 14.4909 15.3796 14.9503 14.3692C15.3102 13.5774 15.4862 12.744 15.4806 11.8766C15.4744 10.9587 15.2516 10.0892 14.8361 9.26962C14.581 8.76671 14.253 8.30307 13.8623 7.89327C13.7842 7.81112 13.7496 7.81654 13.7177 7.92714C13.679 8.06181 13.6364 8.19734 13.5762 8.32361C13.5043 8.47429 13.5329 8.58389 13.638 8.71459C14.6181 9.93391 14.9439 11.331 14.6876 12.8443C14.4274 14.3812 13.6104 15.5931 12.2971 16.468C11.523 16.9839 10.6645 17.2731 9.73262 17.3495C9.14011 17.3981 8.54653 17.3655 7.95362 17.3763C7.90253 17.3769 7.8497 17.3639 7.77968 17.3992L7.77948 17.3995ZM7.81888 3.13897C7.48591 3.13897 7.19624 3.14288 6.90683 3.13712C6.7823 3.13468 6.75988 3.17932 6.79405 3.28859C6.82941 3.40003 6.85634 3.51389 6.87461 3.62924C6.89347 3.75154 6.9459 3.80168 7.07963 3.79943C7.53518 3.79176 7.99101 3.79474 8.44664 3.79712C9.02176 3.80016 9.54122 3.98312 9.99685 4.31754C10.7066 4.83784 11.0624 5.55201 11.0624 6.4189C11.0618 7.378 10.605 8.08648 9.7539 8.54493C9.32331 8.77684 8.85252 8.85581 8.36682 8.85826C7.94912 8.86058 7.53136 8.85826 7.11366 8.85932C6.94046 8.85985 6.93066 8.87136 6.92972 9.04525C6.92918 9.14348 6.93529 9.2421 6.92824 9.3398C6.91925 9.46408 6.97524 9.50377 7.09554 9.50258C7.60339 9.49762 8.11131 9.49775 8.61943 9.49729C8.80539 9.49729 8.98866 9.47288 9.16992 9.43584C10.8488 9.09294 11.8898 7.708 11.7232 6.04055C11.5907 4.71613 10.5081 3.52797 9.16468 3.2202C8.70402 3.11483 8.2394 3.14605 7.81888 3.13864V3.13897ZM8.29599 15.9933C7.95409 15.9933 7.61219 15.9946 7.27035 15.9926C7.15804 15.9919 7.11004 16.0286 7.14777 16.1454C7.18237 16.2522 7.2115 16.3607 7.23504 16.4705C7.25994 16.5872 7.32446 16.627 7.44563 16.6259C7.99611 16.6206 8.54747 16.6325 9.09802 16.6206C9.51954 16.6113 9.94073 16.5834 10.3543 16.4849C11.3617 16.2451 12.2071 15.736 12.8696 14.9589C13.6856 14.002 14.0591 12.8894 13.981 11.6338C13.9287 10.7934 13.6443 10.0384 13.1566 9.35183C13.1001 9.27246 13.0687 9.29316 13.024 9.35713C12.9539 9.4572 12.8893 9.56376 12.8039 9.64982C12.7012 9.75333 12.7089 9.83324 12.7846 9.95276C13.3076 10.7796 13.4583 11.6801 13.2924 12.633C13.139 13.5152 12.7218 14.2659 12.0632 14.8779C11.4316 15.4647 10.6826 15.8273 9.81734 15.9446C9.31183 16.013 8.80338 15.987 8.29599 15.993V15.9933ZM8.29076 14.5656C7.84849 14.5656 7.47846 14.5652 7.10816 14.5656C7.03673 14.5656 6.95738 14.5572 6.96651 14.6692C6.97638 14.7902 6.98437 14.9115 6.98954 15.033C6.99524 15.1676 7.04727 15.2262 7.19973 15.2243C7.87353 15.2158 8.54754 15.2231 9.22147 15.2189C9.39642 15.2178 9.57372 15.2102 9.74571 15.181C10.8678 14.9903 11.7119 14.4083 12.2168 13.3978C12.7012 12.4282 12.7173 11.448 12.1952 10.4768C12.1357 10.366 12.0889 10.3739 12.006 10.4443C11.9128 10.5237 11.8154 10.5996 11.7119 10.6651C11.6165 10.7254 11.6026 10.785 11.6562 10.8839C11.8414 11.2254 11.9137 11.5962 11.9104 11.9795C11.8996 13.2203 10.9655 14.2972 9.72436 14.5125C9.22436 14.599 8.7206 14.5488 8.29076 14.5652V14.5656ZM7.87984 8.09369C8.12917 8.08192 8.43704 8.10461 8.74531 8.06889C9.76739 7.95042 10.4038 7.07546 10.2834 6.20823C10.1774 5.44459 9.5611 4.73036 8.78398 4.60706C8.20543 4.51519 7.61876 4.5806 7.03579 4.56936C6.95711 4.56784 6.92918 4.61606 6.92959 4.68842C6.93046 4.83334 6.93234 4.9784 6.92865 5.12326C6.92616 5.21956 6.96812 5.25813 7.06472 5.25647C7.24974 5.25336 7.43496 5.25217 7.61997 5.25647C7.97524 5.26507 8.33204 5.2273 8.68563 5.28663C9.16435 5.36693 9.54572 5.74879 9.60191 6.20201C9.66347 6.69856 9.40052 7.15053 8.93133 7.33931C8.74041 7.41617 8.53626 7.43509 8.33083 7.43522C7.9179 7.43555 7.50511 7.43912 7.09205 7.43409C6.96772 7.43257 6.92005 7.47603 6.92777 7.5978C6.93452 7.71456 6.93466 7.8316 6.92818 7.94837C6.92274 8.05983 6.97329 8.09687 7.08097 8.09515C7.32775 8.09065 7.57459 8.09336 7.87984 8.09336V8.09369ZM8.24068 13.7941C8.56351 13.7941 8.88635 13.7953 9.20919 13.7941C10.0622 13.7902 10.6525 13.3825 10.9887 12.6268C11.1874 12.1805 11.1767 11.7174 10.9866 11.2616C10.9414 11.1532 10.8852 11.1333 10.7799 11.1858C10.6781 11.2362 10.5719 11.2773 10.4625 11.3086C10.3371 11.3448 10.3026 11.3831 10.3654 11.5214C10.6982 12.2535 10.3839 13.0249 9.47671 13.1411C9.066 13.1936 8.65166 13.1562 8.23906 13.1618C7.85453 13.167 7.46993 13.1659 7.0854 13.1613C6.96819 13.16 6.92073 13.2017 6.92804 13.3175C6.93529 13.4202 6.93529 13.5233 6.92804 13.6261C6.9177 13.7563 6.97262 13.798 7.10158 13.7964C7.48101 13.7902 7.86091 13.7938 8.24068 13.7937V13.7941ZM8.21785 11.6754V11.688C7.84775 11.688 7.47765 11.6901 7.10762 11.6869C6.97557 11.6858 6.91683 11.7344 6.92737 11.8704C6.9366 11.9917 6.9366 12.1135 6.92737 12.2348C6.91737 12.3681 6.96456 12.4161 7.10447 12.4149C7.75934 12.4091 8.41435 12.4138 9.06929 12.411C9.21597 12.4104 9.36426 12.4026 9.50564 12.3571C9.66582 12.3056 9.73087 12.2 9.71436 12.0349C9.68891 11.7799 9.58305 11.6819 9.30022 11.677C8.93939 11.6703 8.57855 11.6751 8.21785 11.6751V11.6754ZM7.76948 6.68553C7.98235 6.6723 8.24397 6.70921 8.50336 6.66569C8.72812 6.62772 8.83231 6.51567 8.82137 6.3261C8.8115 6.15518 8.68314 6.03401 8.47027 6.0301C8.00068 6.0215 7.53089 6.02673 7.06117 6.02481C6.96322 6.02441 6.92623 6.07052 6.92871 6.16372C6.93214 6.28985 6.93402 6.41639 6.92811 6.54233C6.92287 6.65478 6.97389 6.68977 7.08151 6.68732C7.29492 6.68223 7.50853 6.68553 7.76948 6.68553Z' fill='#{$main-icon-color}'/%3E%3Cpath d='M4.37238 18.734C4.24 18.7656 4.1246 18.7189 4.01121 18.6757C3.23194 18.3788 2.67729 17.8338 2.27007 17.1305C1.97731 16.6249 1.83123 16.0836 1.83203 15.4967C1.837 11.735 1.83799 7.97338 1.83499 4.21177C1.83499 3.34924 2.43347 2.6227 3.28981 2.43783C4.34942 2.2089 5.41669 3.00733 5.47603 4.06836C5.48724 4.26951 5.4902 4.47026 5.4902 4.67134C5.49051 8.22248 5.49022 11.7736 5.48932 15.3246C5.48932 15.8713 5.5396 16.4087 5.7402 16.9228C5.98858 17.5587 6.35069 18.1156 6.91212 18.5301C6.96546 18.5692 7.02076 18.6056 7.0778 18.6392C7.13017 18.6703 7.18562 18.6964 7.25664 18.7337C7.1836 18.7659 7.12768 18.7465 7.07095 18.7326C6.53061 18.6003 6.09882 18.2901 5.72476 17.9026C5.05149 17.2053 4.70777 16.3781 4.70979 15.4043C4.7169 11.6895 4.71773 7.97466 4.71227 4.25979C4.71227 3.70556 4.38278 3.29487 3.85701 3.18685C3.24678 3.06118 2.64138 3.52684 2.62144 4.13788C2.61607 4.30144 2.61327 4.46512 2.61305 4.62894C2.61256 8.13802 2.61256 11.647 2.61305 15.156C2.61305 15.6144 2.61688 16.0721 2.73671 16.5211C2.9324 17.2545 3.29833 17.8866 3.86674 18.4018C4.01725 18.5384 4.19085 18.64 4.37238 18.734Z' fill='#{$main-icon-color}'/%3E%3Cpath d='M5.86201 18.7317C5.75547 18.7616 5.69283 18.7495 5.62919 18.7334C5.19001 18.6223 4.81958 18.3874 4.48889 18.0939C3.85932 17.5349 3.44203 16.8529 3.30662 16.0197C3.27986 15.8487 3.26684 15.6759 3.26769 15.5029C3.26554 11.7836 3.26507 8.06435 3.26628 4.34502C3.26628 4.21868 3.26198 4.0901 3.34361 3.98122C3.438 3.85555 3.61704 3.79086 3.75983 3.82764C3.90262 3.86441 4.02413 4.00623 4.04239 4.16537C4.05038 4.23476 4.04722 4.30553 4.04722 4.37565C4.04794 8.10899 4.04935 11.8423 4.05145 15.5756C4.05307 16.5173 4.38342 17.3549 4.98311 18.0817C5.20861 18.3551 5.47667 18.5965 5.86201 18.7317Z' fill='#{$main-icon-color}'/%3E%3C/svg%3E")
    no-repeat center;

  background-size: 100%;
}
.letterBMobile {
  width: 33px;
  height: 33px;
  left: 32%;
}
.bookNow,
.bookNowMobile {
  font-size: 15px;
  position: absolute;
  bottom: 24%;
  left: 11%;
  color: $main-icon-color;
  white-space: nowrap;
  font-family: "Roboto";
}

.bookNowMobile {
  font-size: 13px;
  position: absolute;
  bottom: 24%;
  left: 11%;
  color: $main-icon-color;
  white-space: nowrap;
  font-family: "Roboto";
}
.mainBookNowContainer {
  // width: 104px;
  // height: 104px;
  // background: url("data:image/svg+xml,%3Csvg width='29' height='4' viewBox='0 0 29 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.385925 3.67871V0.124023H1.60419C2.00621 0.124023 2.31219 0.20459 2.52216 0.365723C2.73212 0.526855 2.8371 0.766927 2.8371 1.08594C2.8371 1.2487 2.79315 1.39518 2.70526 1.52539C2.61737 1.6556 2.48879 1.75651 2.31952 1.82812C2.51158 1.88021 2.65969 1.97868 2.76385 2.12354C2.86965 2.26676 2.92255 2.43929 2.92255 2.64111C2.92255 2.97477 2.81512 3.23112 2.60028 3.41016C2.38706 3.58919 2.08108 3.67871 1.68231 3.67871H0.385925ZM1.0036 2.07471V3.18555H1.68964C1.88332 3.18555 2.03469 3.13753 2.14374 3.0415C2.25279 2.94548 2.30731 2.81201 2.30731 2.64111C2.30731 2.27165 2.11851 2.08285 1.74091 2.07471H1.0036ZM1.0036 1.62061H1.60907C1.80113 1.62061 1.95087 1.57747 2.05829 1.49121C2.16734 1.40332 2.22186 1.27962 2.22186 1.12012C2.22186 0.944336 2.17141 0.817383 2.0705 0.739258C1.97121 0.661133 1.81578 0.62207 1.60419 0.62207H1.0036V1.62061ZM6.52714 1.99414C6.52714 2.34245 6.46691 2.64844 6.34647 2.91211C6.22603 3.17415 6.0535 3.37598 5.82889 3.51758C5.60591 3.65755 5.34875 3.72754 5.05741 3.72754C4.76932 3.72754 4.51216 3.65755 4.28593 3.51758C4.06132 3.37598 3.88716 3.17497 3.76346 2.91455C3.64139 2.65413 3.57955 2.35384 3.57792 2.01367V1.81348C3.57792 1.4668 3.63895 1.16081 3.76102 0.895508C3.88472 0.630208 4.05806 0.427572 4.28104 0.287598C4.50565 0.145996 4.76281 0.0751953 5.05253 0.0751953C5.34224 0.0751953 5.59859 0.145182 5.82157 0.285156C6.04618 0.423503 6.21952 0.623698 6.34159 0.885742C6.46366 1.14616 6.52551 1.44971 6.52714 1.79639V1.99414ZM5.90946 1.80859C5.90946 1.41471 5.83459 1.11279 5.68485 0.902832C5.53674 0.692871 5.32596 0.587891 5.05253 0.587891C4.7856 0.587891 4.57645 0.692871 4.42509 0.902832C4.27535 1.11117 4.19885 1.40658 4.19559 1.78906V1.99414C4.19559 2.38477 4.27128 2.68669 4.42264 2.8999C4.57564 3.11312 4.78723 3.21973 5.05741 3.21973C5.33085 3.21973 5.54081 3.11556 5.68729 2.90723C5.8354 2.69889 5.90946 2.39453 5.90946 1.99414V1.80859ZM10.1293 1.99414C10.1293 2.34245 10.0691 2.64844 9.94862 2.91211C9.82818 3.17415 9.65565 3.37598 9.43104 3.51758C9.20806 3.65755 8.9509 3.72754 8.65956 3.72754C8.37147 3.72754 8.11431 3.65755 7.88807 3.51758C7.66346 3.37598 7.48931 3.17497 7.36561 2.91455C7.24354 2.65413 7.18169 2.35384 7.18007 2.01367V1.81348C7.18007 1.4668 7.2411 1.16081 7.36317 0.895508C7.48687 0.630208 7.66021 0.427572 7.88319 0.287598C8.1078 0.145996 8.36496 0.0751953 8.65468 0.0751953C8.94439 0.0751953 9.20074 0.145182 9.42372 0.285156C9.64833 0.423503 9.82167 0.623698 9.94374 0.885742C10.0658 1.14616 10.1277 1.44971 10.1293 1.79639V1.99414ZM9.51161 1.80859C9.51161 1.41471 9.43674 1.11279 9.287 0.902832C9.13889 0.692871 8.92811 0.587891 8.65468 0.587891C8.38775 0.587891 8.1786 0.692871 8.02723 0.902832C7.87749 1.11117 7.801 1.40658 7.79774 1.78906V1.99414C7.79774 2.38477 7.87343 2.68669 8.02479 2.8999C8.17779 3.11312 8.38938 3.21973 8.65956 3.21973C8.933 3.21973 9.14296 3.11556 9.28944 2.90723C9.43755 2.69889 9.51161 2.39453 9.51161 1.99414V1.80859ZM11.915 2.14307L11.5122 2.57031V3.67871H10.8945V0.124023H11.5122V1.7915L11.854 1.36914L12.894 0.124023H13.6411L12.3203 1.69873L13.7168 3.67871H12.9844L11.915 2.14307ZM18.4138 3.67871H17.7961L16.2116 1.15674V3.67871H15.5939V0.124023H16.2116L17.801 2.65576V0.124023H18.4138V3.67871ZM22.1307 1.99414C22.1307 2.34245 22.0704 2.64844 21.95 2.91211C21.8295 3.17415 21.657 3.37598 21.4324 3.51758C21.2094 3.65755 20.9523 3.72754 20.6609 3.72754C20.3728 3.72754 20.1157 3.65755 19.8894 3.51758C19.6648 3.37598 19.4907 3.17497 19.367 2.91455C19.2449 2.65413 19.1831 2.35384 19.1814 2.01367V1.81348C19.1814 1.4668 19.2425 1.16081 19.3645 0.895508C19.4882 0.630208 19.6616 0.427572 19.8846 0.287598C20.1092 0.145996 20.3663 0.0751953 20.656 0.0751953C20.9458 0.0751953 21.2021 0.145182 21.4251 0.285156C21.6497 0.423503 21.823 0.623698 21.9451 0.885742C22.0672 1.14616 22.129 1.44971 22.1307 1.79639V1.99414ZM21.513 1.80859C21.513 1.41471 21.4381 1.11279 21.2884 0.902832C21.1403 0.692871 20.9295 0.587891 20.656 0.587891C20.3891 0.587891 20.18 0.692871 20.0286 0.902832C19.8789 1.11117 19.8024 1.40658 19.7991 1.78906V1.99414C19.7991 2.38477 19.8748 2.68669 20.0262 2.8999C20.1792 3.11312 20.3907 3.21973 20.6609 3.21973C20.9344 3.21973 21.1443 3.11556 21.2908 2.90723C21.4389 2.69889 21.513 2.39453 21.513 1.99414V1.80859ZM25.684 2.7998L26.2308 0.124023H26.8436L26.0233 3.67871H25.4325L24.7562 1.0835L24.0653 3.67871H23.4721L22.6517 0.124023H23.2645L23.8163 2.79492L24.495 0.124023H25.0126L25.684 2.7998ZM28.0166 2.63135H27.5063L27.4502 0.124023H28.0752L28.0166 2.63135ZM27.4331 3.39795C27.4331 3.30518 27.4632 3.22868 27.5234 3.16846C27.5836 3.10661 27.6658 3.07568 27.77 3.07568C27.8742 3.07568 27.9564 3.10661 28.0166 3.16846C28.0768 3.22868 28.1069 3.30518 28.1069 3.39795C28.1069 3.48747 28.0776 3.56234 28.019 3.62256C27.9604 3.68278 27.8774 3.71289 27.77 3.71289C27.6626 3.71289 27.5796 3.68278 27.521 3.62256C27.4624 3.56234 27.4331 3.48747 27.4331 3.39795Z' fill='#{$main-icon-color}'/%3E%3C/svg%3E%0A")
  //   no-repeat center;
  // background-size: 100%;
}
.cardContainerShow,
.cardContainerShowMobile {
  width: 356px;
  position: relative;
  visibility: visible;

  // overflow-y: scroll;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.cardContainerHidden,
.cardContainerHiddenMobile {
  width: 356px;
  position: relative;
  visibility: hidden;
  opacity: 0.5;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.cardContainerShowMobile {
  width: 100%;
}
.cardContainerHiddenMobile {
  width: 100%;
}
.contentContainer,
.contentContainerMobile {
  // width: 356px;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  padding-right: 0px;
  border-bottom-left-radius: $whole-app-border-radius;
  border-bottom-right-radius: $whole-app-border-radius;
  @include whole-app-background;
  &::-webkit-scrollbar {
    width: 0.15em;
    // top: 100px;
    border-radius: 3px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    // margin-top: 84px;
    margin-bottom: 22px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    // borderRadius: "40px",
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #bfaf82;
  }
}
$heightForMobile: 100%;
.contentContainerMobile {
  width: 100%;
  // height: -webkit-calc(#{$heightForMobile} - 75px);
  // height: -moz-calc(#{$heightForMobile} - 75px);
  // height: -o-calc(#{$heightForMobile} - 75px);
  height: calc(100vh - 145px);
  // height: calc(100vh - 75px - calc(100vh - 100%));

  // padding-top: 75px;
  // padding-top: 175px;
}
.divForStickyHeader {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 19999999999999999999;
}
.companyProfile {
}
